{% extends "base.html" %}

{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}

        {%for row in data%}
            <div>
                <img src="{{ url_for('static', filename=row.file) }}" alt="{{row.file}}" width="300" height="250" align="right">
                <h3>Название:</h3> <h4>{{row.name}}</h4>
            <br>
                <h3>Цена: </h3> <h4>{{row.price}}</h4>
            <br>
            <h3>Есть в наличии </h3>
                <h4>{% if row.isactive %}
                Yes
                {% else %}
                No
                {% endif %}
                <br>
                </h4>
                <form action="/details" method="POST">
                    <!-- скрытый параметр -->
                    <input type="hidden" name="index" value="{{row.id}}">
                    <input type="submit" class="btn btn-dark" value="Подробнее">
                </form>
                <hr>
            </div>
            <br>
    {% endfor %}
{% endblock %}
