{% extends "base.html" %}

{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}
    {%for row in data%}
        <div>
            <h1>Target name:</h1> <h3>{{row[1]}}</h3>
            <br>
            <h1>Price: </h1> <h3>{{row[2]}}</h3>
            <br>
            <h1>In stock? </h1><h3>{% if row[3] %}
                Yes
                {% else %}
                No
                {% endif %}
            </h3>
            ----------------------------------------------------
        </div>
    {% endfor %}
{% endblock %}
